footer{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 var(--spacaing-1);
}
.footer_warp1{
    background: ivory;
}
.footer_warp1, .footer_warp2{
    display: flex;
    justify-content: space-between;
}